/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 20px 0;
}

h3 {
  margin-top: 30px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

form {
  display: grid;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"], input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

input[type="file"] {
  border: none;
}

.file-upload {
  font-size: 1rem;
  color: #3498db;
}

.file-upload:hover {
  text-decoration: underline;
}
